/* Стилизация шапки */

.header {
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.page-title {
  font-size: 60px;
}

/* Стилизация основной части */

.main {
  width: 95%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  border: 5px solid var(--accentColor);
  border-radius: var(--borderRadius);
}

/* Стилизация формы */

.form {
  display: flex;
  flex-direction: column;
}

.form-item {
  width: 850px;
  height: 100px;
  margin: 15px 0;
  padding: 0px 15px;
  border: 5px solid var(--accentColor);
  background-color: transparent;
  font-size: 35px;
  border-radius: var(--borderRadius);
  color: var(--accentColor);
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
}