@media screen and (max-width: 1000px) {

  .content-container {
    flex-direction: column-reverse;
  }

  .hero {
    margin-bottom: 50px;
  }

  .home-section {
    height: 700px;
  }

  .about-content-container {
    flex-direction: column;
    margin-top: 100px;
  }

}

@media screen and (max-width: 650px) {

  .footer {
    flex-direction: column;
  }

  .footer-title {
    margin-bottom: 40px;
  }

  .footer-btn-container {
    display: flex;
    flex-direction: column;
  }

  .btn-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px;
  }

}

@media screen and (max-width: 400px) {

  .header {
    justify-content: center;
  }

  .btn-header {
    margin: 0 5px;
  }

}